page-productlist {
  
    
        
    
    
    .sub-header{
        height: 40px;
        line-height: 40px;
        position: fixed;
        left: 0;
        right: 0;
        top:52px;
        width: 100%;
        border-bottom: 1px solid #eee;
        display: flex;
        z-index: 2;
        background-color: #fff; 
        
        div{
            flex: 1;
        
            text-align: center;
        }
   
    }
    
    
        .item-ios h2{
            font-size: 14px;
        }
        
        .list-ios[inset] {
            margin-top: 52px;
        }


}





