.reg-text{
    span{
    font-size: 14px;
    color: #666;
    height: 50px;
    padding: 5px 0;
    text-align: justify;
}

}

#lf{
    padding-left: 0px !important;
}
.list-ios {
    margin: 0 0 10px;
}