page-address {
    .add_address{
        display: block;
        width: 150px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: red;
        border-radius: 5px;
        margin: 0 auto;
        color: #fff;
    }
}
