page-address {
    .add_address{
        background: red;
        width:90%;
        height: 3.4rem;
        line-height: 3.4rem;
        color:#fff;
        text-align: center;
        margin: 0 auto;
    }
    .add_address_btn{
        display: block;
        width: 150px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: red;
        border-radius: 5px;
        margin: 0 auto;
        color: #fff;
    }
}
